/autostart
/Code
/Code-OSS
/code-oss
/configstore
/dconf
/diffuse
/Electron
/evolution
/flameshot
/font-manager
/fontconfig
/gconf
/gh
/gitahead.com
/goa-1.0
/google-chrome
/gtk-3.0
/htop
/Hyper
/Insync
/Kvantum
/nautilus
/neofetch
/Nextcloud
/picom
/pulse
/qtile
/ranger
/rofi
/spotify
/Thunar
/vlc
/volumeicon
/xfce4
/xinit
/yay

